<%- include('../head.ejs') %>

<style>
    .wrapper-for-recently-added-items {
        font-size: 0.875rem;
    }
</style>

<div class="container">

    <h2 class="center">Recently Added Items</h2>

    <div>
        <% if (items.length > 0) { %>
            <table class='table wrapper-for-recently-added-items'>
                <thead>
                    <tr>
                        <th style='marginRight:100px'>Item</th>
                        <!-- <th>Date Added</th> -->
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item){ %>
                        <tr>
                            <td width='25%'>
                                <a href="/premade/item/<%- item.id %>">
                                    <%- item.name && item.name.length > 48 ? item.name.substring(0, 45) + '...' : item.name %>
                                </a>
                            </td>
                            <!-- <td width='15%'>
                                < % - item.humanFormattedDate %>
                            </td> -->
                            <td>
                                <%- item.description && item.description.length > 240 ? item.description.substring(0, 237) + '...' : item.description %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        <% } else { %>
            <p class="center muted-text">
                No items found. Please contact system administrator if you think this is in error.
            </p>
        <% } %>
    </div>

</div>

<%- include('../foot.ejs') %>
