            <% /* Iterate through top-level subjects */ %>
            <% subjects.sort((a, b) => a.position - b.position).forEach(function(subject){ %>
                <% if (!subject.disabled || (locals.signedInUser && locals.signedInUser.isAdmin)) { %>

                <h2 class="<%= subject.disabled ? 'disabled' : '' %>"> <%-- CRITICAL FIX: Use ternary as full class string --%>
                    <%- subject.name %>
                </h2>

                <% /* Iterate through documents directly under this subject */ %>
                <% subject.documents.sort((a, b) => a.position - b.position).forEach(function(document){ %>
                    <% if (!document.disabled || (locals.signedInUser && locals.signedInUser.isAdmin)) { %>
                        <div class="indent">
                            <li>
                                <a 
                                    class="<%= document.disabled ? 'disabled' : '' %>" <%-- CRITICAL FIX: Use ternary as full class string --%>
                                    href="/docs/item/<%- document.id %>"
                                >
                                    <span data-icon="&#x68;"></span> <%- document.title %>
                                </a>
                            </li>
                        </div>
                    <% } %>
                <% }); %>

                <% /* Iterate through sub-subjects under this subject */ %>
                <% subject.subjects.sort((a, b) => a.position - b.position).forEach(function(subSubject){ %>
                    <% if (!subSubject.disabled || (locals.signedInUser && locals.signedInUser.isAdmin)) { %>
                        <div class="indent">
                            <h3 class="<%= subSubject.disabled ? 'disabled' : '' %>"> <%-- CRITICAL FIX: Use ternary as full class string --%>
                                <a 
                                    class="<%= subSubject.disabled ? 'disabled' : '' %>" <%-- CRITICAL FIX: Use ternary as full class string --%>
                                    href="/docs/<%- subSubject.id %>"
                                >
                                    <%- subSubject.name %>
                                </a>
                            </h3>

                            <% /* Iterate through documents under this sub-subject */ %>
                            <% subSubject.documents.sort((a, b) => a.position - b.position).forEach(function(document){ %>
                                <% if (!document.disabled || (locals.signedInUser && locals.signedInUser.isAdmin)) { %>
                                    <div class="indent">
                                        <li>
                                            <a 
                                                class="<%= document.disabled ? 'disabled' : '' %>" <%-- CRITICAL FIX: Use ternary as full class string --%>
                                                href="/docs/item/<%- document.id %>"
                                            >
                                                <span data-icon="&#x68;"></span> <%- document.title %>
                                            </a>
                                        </li>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    <% } %>
                <% }); %>
            <% } %>
            <% }); %>