<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/docs/new" class="button primary">New</a>
            </div>
        </div>
        <% } %>

        <h2 class="center">Documents</h2>

        <% subjects.map(function(subject){ %>

        <h3>
            <%- subject.name %>
        </h3>

        <% subject.documents.map(function(document){ %>
        <li><a href="/docs/<%- subject.id %>/<%- document.id %>"><%- document.title %></a></li>
        <% }); %>

        <% subject.subjects.map(function(subSubject){ %>
        <h3><a href="/docs/<%- subSubject.id %>"><%- subSubject.name %></a></h3>

        <% subSubject.documents.map(function(document){ %>

        <h4><a href="/docs/<%- subject.id %>/<%- document.id %>"><%- document.title %></a></h4>

        <% }); %>
        <% }); %>
        <br>
        <% }); %>

    </div>
</div>
<% include ../foot.ejs %>