<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <h2>Documents</h2>

        <% subjects.map(function(subject){ %>

        <h3><a href="/docs/<%- subject.id %>"><%- subject.name %></a></h3>

        <ul>
            <% subject.documents.map(function(document){ %>

            <li><a href="/docs/<%- subject.id %>/<%- document.id %>"><%- document.title %></a></li>

            <% }); %>
        </ul>
        <% }); %>

    </div>
</div>
<% include ../foot.ejs %>