<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h3>Admin</h3>
            <div class="form-group">
                <a href="/docs/new" class="button primary">New</a>
                <a href="/docs/rearrange" class="button primary">Rearrange</a>
            </div>
        </div>
        <% } %>

        <h1 class="center">Documents</h1>

        <div class="simon-list">

            <% subjects.map(function(subject){ %>
            <% if(subject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subject.disabled){ %>

            <h2 class="<% if(subject.disabled){ %>disabled<% } %>">
                <%- subject.name %>
            </h2>

            <% subject.documents.map(function(document){ %>
            <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
            <div class="indent">

                <li><a class="<% if(document.disabled){ %>disabled<% } %>"
                       href="/docs/item/<%- document.id %>"><span
                                data-icon="&#x68;"></span> <%- document.title %> <%- document.position %>
                    </a></li>

            </div>
            <% } %>
            <% }); %>

            <% subject.subjects.map(function(subSubject){ %>
            <% if(subject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subject.disabled){ %>
            <div class="indent">
                <h3 class="<% if(subSubject.disabled){ %>disabled<% } %>"><%- subSubject.name %></h3>

                <% subSubject.documents.map(function(document){ %>
                <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
                <div class="indent">

                    <li><a class="<% if(document.disabled){ %>disabled<% } %>"
                           href="/docs/item/<%- document.id %>"><span
                                    data-icon="&#x68;"></span> <%- document.title %></a></li>
                </div>
                <% } %>
                <% }); %>
            </div>
            <% } %>
            <% }); %>
            <% } %>
            <% }); %>
        </div>
    </div>
</div>


<% include ../foot.ejs %>