<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/docs/new" class="button primary">New</a>
            </div>
        </div>
        <% } %>

        <h2 class="center">Documents</h2>

        <% subjects.map(function(subject){ %>
        <% if(subject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subject.disabled){ %>

        <div class="indent">

            <!--<div class="dragg">-->
            <!--<div class="draggInner">-->
            <h3 class="<% if(subject.disabled){ %>disabled<% } %>">
                <%- subject.name %>
            </h3>

            <% subject.documents.map(function(document){ %>
            <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
            <div class="indent">
                <!--<div class="dragg">-->
                <!--<div class="draggInner">-->

                <li><a class="<% if(document.disabled){ %>disabled<% } %>"
                       href="/docs/item/<%- document.id %>"><%- document.title %></a></li>

                <!--</div>-->
                <!--</div>-->
            </div>
            <% } %>
            <% }); %>

            <% subject.subjects.map(function(subSubject){ %>
            <% if(subject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subject.disabled){ %>
            <div class="indent">
                <!--<div class="dragg">-->
                <!--<div class="draggInner">-->
                <h4 class="<% if(subSubject.disabled){ %>disabled<% } %>"><%- subSubject.name %></h4>

                <% subSubject.documents.map(function(document){ %>
                <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
                <div class="indent">
                    <!--<div class="dragg">-->
                    <!--<div class="draggInner">-->

                    <li><a class="<% if(document.disabled){ %>disabled<% } %>"
                           href="/docs/item/<%- document.id %>"><%- document.title %></a></li>
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <% } %>
                <% }); %>
                <!--</div>-->
                <!--</div>-->
            </div>
            <% } %>
            <% }); %>
        </div>
        <% } %>
        <% }); %>
    </div>
    <!--</div>-->
    <!--</div>-->
</div>

<link href="/components/dragula.js/dist/dragula.min.css" rel="stylesheet">
<script src="/components/dragula.js/dist/dragula.min.js"></script>
<script>
    var drake = dragula({
        isContainer: function isContainer(el) {
            return el.classList.contains('dragg');
        }
    });
</script>

<% include ../foot.ejs %>