<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <h2>New Database</h2>

        <form method="post" action="/premade/new">

            <% if (typeof db == 'undefined') {
                var db = {};
            } else { %>
            <input type="hidden" name="id" id="id" value="<%- db.id %>">
            <% } %>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="wide" value="<%- db.name %>" required>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" name="type" class="wide" required>
                    <% types.map(function(type) { %>
                        <option value="<%- type.type %>"><%- type.typeName %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="tinymce" class="wide" name="description"><%- db.description %></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>

    </div>
</div>


<% include ../../foot.ejs %>