<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/<%- db.id %>/edit" class="button primary">Edit DB</a>
                <a href="/premade/<%- db.id %>/new" class="button primary">New Category</a>
                <% if(db.disabled){ %>
                <a href="/premade/<%- db.id %>/enable" class="button success areyousure">Enable
                    DB</a>
                <a href="/premade/<%- db.id %>/delete" class="button danger areyousure">Delete
                    DB</a>
                <% } else { %>
                <a href="/premade/<%- db.id %>/disable" class="button danger areyousure">Disable
                    DB</a>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2 class="center"><%- db.name %></h2>

        <div>

        </div>

        <div>
            <%-db.description%>
        </div>

        <% db.categories.sort(function (a, b) {
            return a.position - b.position;
        }).map(function (category) { %>

        <h3><a href="/premade/category/<%- category.id %>"><%- category.name %></a></h3>

        <% }) %>

    </div>
</div>


<% include ../../foot.ejs %>