<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin Actions</h4> <% /* Changed from 'Admin' to 'Admin Actions' for consistency */ %>
            <div class="form-group button-group"> <% /* Added button-group class for styling */ %>
                <a href="/premade/<%- db.id %>/edit" class="button primary">Edit DB</a>
                <a href="/premade/<%- db.id %>/new" class="button primary">New Category</a>
                
                <% if(db.disabled){ %>
                    <form action="/premade/<%- db.id %>/enable" method="POST" style="display:inline;">
                        <button type="submit" class="button success areyousure">Enable DB</button>
                    </form>
                    <form action="/premade/<%- db.id %>/delete" method="POST" style="display:inline;">
                        <button type="submit" class="button danger areyousure">Delete DB</button>
                    </form>
                <% } else { %>
                    <form action="/premade/<%- db.id %>/disable" method="POST" style="display:inline;">
                        <button type="submit" class="button danger areyousure">Disable DB</button>
                    </form>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2 class="center"><%- db.name %></h2>

        <div class="document"> <% /* Wrap description in div.document for consistent styling */ %>
            <%- db.description %>
        </div>

        <% /* List categories within this DB */ %>
        <h3 class="center">Categories</h3> <% /* Added a heading for categories */ %>
        <ul> <% /* Wrapped categories in an unordered list */ %>
            <% db.categories.sort((a, b) => a.position - b.position).forEach(function (category) { %> <% /* Changed map to forEach */ %>
                <li>
                    <a href="/premade/category/<%- category.id %>">
                        <%- category.name %>
                    </a>
                </li>
            <% }) %>
        </ul>

    </div>
</div>

<% include ../../foot.ejs %>