<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/<%- db.id %>/new" class="button primary">New Category</a>

                <% if(db.disabled){ %>
                <a href="/premade/<%- db.id %>/enable" class="button success areyousure">Enable
                    Subject</a>
                <a href="/premade/<%- db.id %>/delete" class="button danger areyousure">Delete
                    Subject</a>
                <% } else { %>
                <a href="/premade/<%- db.id %>/disable" class="button danger areyousure">Disable
                    Subject</a>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2 class="center"><%- db.name %></h2>

        <div>
            <%-db.description%>
        </div>

        <% db.categories.map(function (category) { %>

        <h3><a href="/premade/category/<%- category.id %>"><%- category.name %></a></h3>

        <% }) %>

    </div>
</div>


<% include ../../foot.ejs %>