<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <form method="post" action="/docs/<%- subject.id %>/new">
            <input type="hidden" name="subjectID" value="<%- subject.id %>">
            <% if(typeof document != 'undefined'){ %>
            <input type="hidden" name="id" value="<%- document.id %>" required>
            <% } %>

            <div class="form-group">
                <label for="title">Title</label>
                <% if(typeof document != 'undefined'){ %>
                <input id="title" name="title" class="wide" type="text" value="<%- document.title %>" required>
                <% } else { %>
                <input id="title" name="title" class="wide" type="text" required>
                <% } %>
            </div>
            <div class="form-group">
                <label for="tinymce">Content</label>
                <% if(typeof document != 'undefined'){ %>
                <textarea id="tinymce" class="wide" name="content"><%- document.content %></textarea>
                <% } else { %>
                <textarea id="tinymce" class="wide" name="content"></textarea>
                <% } %>
            </div>
            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>
    </div>
</div>





<% include ../../foot.ejs %>