<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <form method="post" action="/docs/<%- subject.id %>/new">
            <input type="hidden" name="subjectID" value="<%- subject.id %>">
            <% if(typeof document != 'undefined'){ %>
            <input type="hidden" name="id" value="<%- document.id %>" required>
            <% } %>

            <div class="form-group">
                <label for="title">Title</label>
                <% if(typeof document != 'undefined'){ %>
                <input id="title" name="title" class="wide" type="text" value="<%- document.title %>" required
                <% } else { %>
                <input id="title" name="title" class="wide" type="text" required>
                <% } %>
            </div>
            <div class="form-group">
                <label for="tinymce">Content</label>
                <% if(typeof document != 'undefined'){ %>
                <textarea id="tinymce" class="wide" name="content"><%- document.content %></textarea>
                <% } else { %>
                <textarea id="tinymce" class="wide" name="content"></textarea>
                <% } %>

            </div>
            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>
    </div>
</div>

<form id="my_form" style="width:0px;height:0;overflow:hidden">
    <input name="userfile" id="userfile" type="file">
</form>


<script src="/components/tinymce/tinymce.min.js"></script>
<script src="/components/tinymce/themes/modern/theme.min.js"></script>


<% var plugins = 'image imagetools autolink hr link' %>
<% plugins.split(' ').map(function(plugin){ %>
<script src="/components/tinymce/plugins/<%- plugin %>/plugin.min.js"></script>
<% }) %>


<script>
    tinymce.baseURL = "/components/tinymce/";
    tinymce.init({
        height: 500,
        plugins: '<%- plugins %>',
        selector: '#tinymce',
        images_upload_url: '/imageupload',
        images_upload_base_path: '/doc_images',
        extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
        relative_urls: false,
        file_picker_callback: function (callback, value, meta) {
            console.log('1');
            $('#my_form input').click().on('change', function () {
                console.log('2');
                var formData = new FormData();
                formData.append('userfile', $('input[type=file]')[0].files[0]);

                console.log('FORM DATA', formData);
                $.ajax({
                    url: '/imageupload',  //Server script to process data
                    type: 'POST',
                    success: function (data) {
                        $('#my_form input').val('');
                        callback(data.location)
                    },
                    error: function (err) {
                        $('#my_form input').val('');
                        alert(err);
                    },
                    // Form data
                    data: formData,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        }
    });


</script>
<% include ../../foot.ejs %>