<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin Actions</h4> <% /* Changed from 'Admin' to 'Admin Actions' for clarity */ %>
            <div class="form-group button-group"> <% /* Added button-group class for styling */ %>
                <a href="/docs/item/<%- document.id %>/edit" class="button primary">Edit Document</a>
                
                <% if(document.disabled){ %>
                    <form action="/docs/item/<%- document.id %>/enable" method="POST" style="display:inline;">
                        <button type="submit" class="button success areyousure">Enable Document</button>
                    </form>
                    <form action="/docs/item/<%- document.id %>/delete" method="POST" style="display:inline;">
                        <button type="submit" class="button danger areyousure">Delete Document</button>
                    </form>
                <% } else { %>
                    <form action="/docs/item/<%- document.id %>/disable" method="POST" style="display:inline;">
                        <button type="submit" class="button danger areyousure">Disable Document</button>
                    </form>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2 class="center"><%- document.title %></h2>
        <br>
        <div class="document"><%- document.content %></div>


    </div>
</div>
<% include ../../foot.ejs %>