<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/docs/item/<%- document.id %>/edit" class="button primary">Edit
                    Document</a>

                <% if(document.disabled){ %>
                <a href="/docs/item/<%- document.id %>/enable" class="button success areyousure">Enable
                    Document</a>
                <a href="/docs/item/<%- document.id %>/delete" class="button danger areyousure">Delete
                    Document</a>
                <% } else { %>
                <a href="/docs/item/<%- document.id %>/disable" class="button danger areyousure">Disable
                    Document</a>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2 class="center"><%- document.title %></h2>
        <br>
        <div class="document"><%- document.content %></div>


    </div>
</div>
<% include ../../foot.ejs %>