<%- include('../../head.ejs') %>
<%- include('./../sidebar.ejs') %>

<div class="sidebar-push">
    <div class="container">

        <h2>New Category for <%- db.name %></h2>

        <form method="post" action="/premade/<%- db.id %>/new">

            <% if (typeof category == 'undefined') {
                var category = {};
            } else { %>
            <input type="hidden" name="id" id="id" value="<%- category.id %>">
            <% } %>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="wide" value="<%- category.name %>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="tinymce" class="wide" name="description"><%- category.description %></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>

    </div>
</div>


<%- include('../../foot.ejs') %>