<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>
<div class="sidebar-push">
    <div class="container">

        <div class="form-group">
            <a href="/premade/<%- db.id %>/<%- category.id %>/new" class="button primary">New Item</a>
            <a href="/premade/<%- db.id %>/<%- category.id %>/delete" class="button danger">Delete Category</a>
        </div>

        <h2 class="center"><%- category.name %></h2>

        <% if(items.length){ %>
        <table class="responsive">
            <thead>
            <tr>
                <% headings.map(function(t){ %>
                <th><%- t %></th>
                <% }); %>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <% items.map(function(t){ %>
            <tr>
                <% t.items.map(function(tt){ %>
                <td>
                    <%- tt %>
                </td>
                <% }) %>
                <td><a href="/cart/add/<%- t.id %>" class="button primary icon"><span data-icon="&#x4c;"></span></a>
                    <a href="#" class="button danger icon"><span data-icon="&#xe019;"></span></a>
                </td>
            </tr>

            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p class="center">None available currently</p>
        <% } %>

    </div>
</div>


<% include ../../foot.ejs %>