<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/category/<%- category.id %>/edit" class="button primary">Edit Category</a>
                <a href="/premade/category/<%- category.id %>/new" class="button primary">New Item</a>
                <% if(category.disabled){ %>
                <a href="/premade/category/<%- category.id %>/enable" class="button success areyousure">Enable
                    Category</a>
                <a href="/premade/category/<%- category.id %>/delete" class="button danger areyousure">Delete
                    Category</a>
                <% } else { %>
                <a href="/premade/category/<%- category.id %>/disable" class="button danger areyousure">Disable
                    Category</a>
                <% } %>

            </div>
        </div>
        <% } %>

        <h1 class="center"><%- category.name %></h1>

        <div class="document">
            <%- category.description %>
        </div>

        <h2 class="center">Items</h2>

        <% if(headings.length && items.length){ %>
        <table class="responsive">
            <thead>
            <tr>
                <!--<th>Name</th>-->
                <!--<th>Description</th>-->
                <!--<th>Comments</th>-->
                <% headings.map(function(t){ %>
                <th><%- t %></th>
                <% }); %>
                <!--<th class="center">Download</th>-->
                <!--<th class="center">Add to cart</th>-->

            </tr>
            </thead>
            <tbody>

            <% items.map(function(item){ %>
            <% if(item.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !item.disabled){ %>
            <tr class="<% if(item.disabled){ %>disabled<% } %>">
                <td><a href="/premade/item/<%- item.id %>"><%- item.name %></a>
                </td>

                <% item.items.map(function(tt){ %>
                <td>
                    <%- tt %>
                </td>
                <% }) %>

                <!--<td class="center">-->
                <!--<% if(item.file){ %>-->
                <!--<a href="<%- item.file.relativePath() %>" class="button primary outline icon"><span-->
                <!--data-icon="&#xe004;"></span></a>-->
                <!--<% } %>-->

                <!--</td>-->

                <!--<td class="center"><a href="#" data-addToCart="true" data-typeID="<%- item.id %>"-->
                <!--class="button success outline icon"><span-->
                <!--data-icon="&#x4c;"></span></a></td>-->
            </tr>
            <% } %>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p class="center">None available currently</p>
        <% } %>

    </div>
</div>


<% include ../../foot.ejs %>