<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/category/<%- category.id %>/edit" class="button primary">Edit Category</a>
                <a href="/premade/category/<%- category.id %>/new" class="button primary">New Item</a>
                <% if(category.disabled){ %>
                <a href="/premade/category/<%- category.id %>/enable" class="button success areyousure">Enable
                    Category</a>
                <a href="/premade/category/<%- category.id %>/delete" class="button danger areyousure">Delete
                    Category</a>
                <% } else { %>
                <a href="/premade/category/<%- category.id %>/disable" class="button danger areyousure">Disable
                    Category</a>
                <% } %>

            </div>
        </div>
        <% } %>

        <h1 class="center"><%- category.name %></h1>

        <div class="document">
            <%- category.description %>
        </div>

        <h2 class="center">Items</h2>

        <% if(headings.length && items.length){ %>
        <table class="responsive">
            <thead>
            <tr>
                <th>Name</th>
                <% headings.map(function(t, index){ %>
                    <%if (index !== 4){ /** Remove 'Who Made It' for now */%>
                        <th><%- t %></th>
                    <%}%>
                <% }); %>
                <!--<th class="center">Download</th>-->
                <!--<th class="center">Add to cart</th>-->

            </tr>
            </thead>
            <tbody>

            <% items.sort(function (a, b) {
                return a.position - b.position;
            }).map(function(item){ %>

                <% if(item.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !item.disabled){ %>
                    <tr class="<% if(item.disabled){ %>disabled<% } %>">
                        
                        <!-- Name -->
                        <td width='15%' style="white-space:nowrap;" data-th="Name">
                            <a href="/premade/item/<%- item.id %>"><%- item.name %></a>
                        </td style="white-space:nowrap;">


                        <!-- Other columns -->
                        <% item.items.map(function(contents, anotherIndex){ %>

                            <%if (anotherIndex === 0){ /** Wider column for desc */%>
                                <td width="35%" style="white-space:nowrap;" data-th="<%- headings[anotherIndex] %>">
                                    <%- contents %>
                                </td>
                            <%} else if (anotherIndex !== 4){ /** Remove 'Who Made It' for now */%>
                                <td style="white-space:nowrap;" data-th="<%- headings[anotherIndex] %>">
                                    <%- contents %>
                                </td>
                            <%}%>            
                        
                        <% }) %>
                    </tr>
                <% } %>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p class="center">None available currently</p>
        <% } %>

    </div>
</div>


<% include ../../foot.ejs %>