<div class="tile">
    <div class="tile-block">
        <p>Orderd: <%- order.humanDate %></p>
        <p>Completed: <%- order.complete %></p>
        <p>Customer: <%- order.username %></p>

        <% if(order.completedAt){ %>
        <p>Completed:: <%- order.completedAt %></p>
        <% } %>
    </div>
    <a href="/order/<%- order.id %>" class="button primary tile-button-bottom thin">Show</a>
</div>