<% include ../head.ejs %>

<div class="container">

    <h2>Order</h2>

    <p>Orderd: <%- order.humanDate %></p>
    <p>Completed: <%- order.complete %></p>
    <p>Customer: <%- order.username %></p>

    <% if(order.completedAt){ %>
    <p>Completed: <%- order.completedAt %></p>
    <% } %>

    <h2 class="center">Order Details</h2>
    <table class="cart">
        <thead>
        <tr>
            <th>Item</th>
            <th class="center">Large Scale</th>
        </tr>

        </thead>
        <tbody>
        <% locals.order.items.map(function(item){ %>
        <tr>
            <td><%- item.type.name %></td>
            <td class="center">
                <%- item.largeScale %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>

    <% if(!order.complete){ %>
    <a href="/order/<%- order.id %>/complete" class="button primary areyousure">Mark as complete</a>
    <% } else { %>
    <a href="/order/<%- order.id %>/incomplete" class="button primary areyousure">Mark as incomplete</a>
    <% } %>

</div>

<% include ../foot.ejs %>