<% include ../head.ejs %>

<div class="container">
  <div style="margin-top: 20px; font-size: 18px">
    <a href="/orders" style="color: blue; text-decoration: underline"
      >← Go Back to Orders</a
    >
  </div>

  <h1 class="center">Order</h1>

  <p>ID: <%- order.janCode %></p>
  <p>Ordered: <%- order.createdHumanDate() %></p>
  <p>
    Status: <%- order.cancelled ? 'Cancelled' : (order.complete ? 'Complete' :
    'Pending') %>
  </p>
  <p>Customer: <%- order.username %></p>
  <p>Cost code: <%= order.costCode || "n/a" %></p>

  <% if(order.completedAt){ %>
  <p>Completed: <%- order.completedHumanDate() %></p>
  <% } %>

  <h2 class="center">Order Details</h2>
  <table class="cart">
    <thead>
      <tr>
        <th>Item</th>
        <th class="center">Quantity</th>
        <% if (order.totalCost) { %>
        <th class="center">Price</th>
        <% } %>
        <th class="center">Concentration</th>
        <th class="center">SynBio ID</th>
      </tr>
    </thead>
    <tbody>
      <% order.items.map(function(item){ %>
      <tr>
        <td>
          <a href="/premade/item/<%- item.type.id %>" target="_blank"
            ><%- item.type.name %></a
          >
        </td>
        <% if(item.quantity){ %>
        <td class="center">
          <%- item.quantity /** + ((parseInt(item.janCode) < 2283) ? 'uL' : '' )
          */ %>
        </td>
        <% if (order.totalCost) { %>
        <td class="center">£<%- item.quantity * order.pricePerUnit %></td>
        <% } %> <% } else { %> <% if(item.largeScale){ %>
        <td class="center">large scale</td>
        <% } else { %>
        <td class="center">normal</td>
        <% } %> <% } %>
        <td class="center"><%- item.type.concentration %></td>
        <td class="center"><%- item.type.synBioID %></td>
      </tr>
      <% }); %>
      <tr>
        <td><b>Total</b></td>
        <td class="center"><b><%- order.totalQuantity %></b></td>
        <% if (order.totalCost) { %>
        <td class="center"><b>£<%- order.totalCost %></b></td>
        <% } %>
      </tr>
    </tbody>
  </table>

  <% if(order.cancelled){ %>
  <a href="/order/<%- order.id %>/uncancel" class="button primary"
    >Undo cancellation</a
  >
  <% } else if (!order.complete) { %>
  <a href="/order/<%- order.id %>/complete" class="button primary areyousure"
    >Mark as complete</a
  >
  <a href="/order/<%- order.id %>/cancel" class="button danger areyousure"
    >Mark as cancelled</a
  >
  <% } else { %>
  <a href="/order/<%- order.id %>/incomplete" class="button primary areyousure"
    >Mark as incomplete</a
  >
  <% } %>
</div>

<% include ../foot.ejs %>
