<% include ../head.ejs %>

<div class="container">

    <h2>Order</h2>

    <p>User: <%- order.username %></p>
    <p>Complete: <%- order.complete %></p>

    <% order.items.map(function(item){ %>

    <p>Large Scale: <%- item.largeScale %></p>

    <% }) %>

    <% if(!order.complete){ %>
    <a href="/order/<%- order.id %>/complete" class="button primary confirm">Mark as complete</a>
    <% } else { %>
    <a href="/order/<%- order.id %>/incomplete" class="button primary confirm">Mark as incomplete</a>
    <% } %>

</div>

<script>
    $(function () {
        $('.confirm').click(function () {
            return window.confirm("Are you sure?");
        });
    });
</script>

<% include ../foot.ejs %>