<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/docs/<%- subject.id %>/rename" class="button primary">Rename</a>
                <a href="/docs/<%- subject.id %>/new" class="button primary">Add Document</a>
                <a href="/docs/<%- subject.id %>/addsubject" class="button primary">Add Sub-Subject</a>

                <% if(subject.disabled){ %>
                <a href="/docs/<%- subject.id %>/enable" class="button success areyousure">Enable
                    Subject</a>
                <a href="/docs/<%- subject.id %>/delete" class="button danger areyousure">Delete Subject</a>
                <% } else { %>
                <a href="/docs/<%- subject.id %>/disable" class="button danger areyousure">Disable
                    Subject</a>
                <% } %>

            </div>
        </div>
        <% } %>

        <h2 class="center"><%- subject.name %></h2>

        <% subject.documents.map(function(document){ %>
        <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
        <li><a class="<% if(document.disabled){ %>disabled<% } %>"
               href="/docs/item/<%- document.id %>"><%- document.title %></a></li>
        <% } %>
        <% }); %>

        <% subject.subjects.map(function(subSubject){ %>
        <% if(subSubject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subSubject.disabled){ %>
        <h3><a class="<% if(subSubject.disabled){ %>disabled<% } %>"
               href="/docs/<%- subSubject.id %>"><%- subSubject.name %></a></h3>
        <% } %>

        <% subSubject.documents.map(function(document){ %>
        <% if(document.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !document.disabled){ %>
        <div class="indent">
            <li><a class="<% if(document.disabled){ %>disabled<% } %>"
                   href="/docs/item/<%- document.id %>"><%- document.title %></a></li>
        </div>
        <% } %>

        <% }); %>
        <% }); %>

    </div>
</div>
<% include ../../foot.ejs %>