<% include ../../head.ejs %>
<% include ../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/docs/<%- subject.id %>/new" class="button primary">Add Document</a>
                <!--<a href="#" class="button danger">Delete Subject</a>-->
            </div>
        </div>
        <% } %>

        <h2><%- subject.name %></h2>

        <% subject.documents.map(function(document){ %>
        <h3><a href="/docs/<%- subject.id %>/<%- document.id %>"><%- document.title %></a></h3>
        <% }); %>

    </div>
</div>
<% include ../../foot.ejs %>