<% include ../head.ejs %>

<div class="container">
    <h1 class="center">Shopping Basket</h1>
    <% if(typeof cart != 'undefined'){ %>
    <% if(cart.items.length > 0){ %>

    <p>5mL will be provided unless 'Large Scale' is selected.</p>

    <form method="post" action="/cart/update">
        <table class="cart">
            <thead>
            <tr>
                <th>Item</th>
                <th class="center">Large Scale</th>
                <th class="center">Action</th>
            </tr>

            </thead>
            <tbody>
            <% cart.items.map(function(item){ %>
            <input type="hidden" name="item" value="<%- item.id %>">
            <tr>
                <td><a href="/premade/item/<%- item.type.id %>"><%- item.type.name %></a></td>
                <td class="center">
                    <input type='checkbox' value="<%- item.largeScale %>"
                            <% if(item.largeScale){ %>
                           checked
                            <% } %>
                           name='largeScale-<%- item.id %>'>
                </td>
                <td class="center"><a href="/cart/remove/<%- item.id %>"
                                      class="button danger outline icon remove-from-cart areyousure"><span
                                data-icon="&#xe019;"></span></a>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>

        <div class="pull-right">
            <input type="submit" class="button primary" value="Update Cart">
            <a href="/cart/order" class="button success areyousure">Place Order</a>
        </div>
    </form>
    <% } else { %>
    <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>
    <% } else { %>
    <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>

</div>

<% include ../foot.ejs %>