<% include ../head.ejs %>

<% 
    const displayPricing = 
        (locals.isPricingAvailable && (locals.signedInUser.company !== 'TSL' || locals.signedInUser.isAdmin));
%>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    const pricePerUnit = "<%=pricePerUnit%>";
    const displayPricing = "<%=displayPricing%>";

    window.onload = function () {

        // Check if cart items are present
    if (!cart.items || cart.items.length === 0) {
        document.getElementById("placeOrderButton").disabled = true;
    }

        const allItemQuantityElements = document.getElementsByName("itemQuantity");

        allItemQuantityElements.forEach((element, index) => {
            const quantityEl = document.getElementById("quantity_" + index);

            const priceEl = document.getElementById("price_" + index);

            if (priceEl){

                priceEl.innerHTML = quantityEl.value * pricePerUnit;
            }

            const onAnyChange = e => {
                const priceElement = document.getElementById("price_" + index);

                if (priceElement) {
                    priceElement.innerHTML = e.target.value * pricePerUnit;
                }

                updateTotals();
            }

            quantityEl.addEventListener('keyup', onAnyChange);
            quantityEl.addEventListener('change', onAnyChange);
            quantityEl.addEventListener('blur', onAnyChange);
        });

        /*  Update totals must run
            setTimeout to help it
            consider setInterval in the future
            Yes, hacky.
        */

        updateTotals();

        // setInterval(function(){
        //     alert("Hello");
        // }, 10003);

        setTimeout(function(){
            updateTotals();
        }, 3000);

        function updateTotals() {
            if (allItemQuantityElements.length) {
                const sum = [...allItemQuantityElements]
                    .map(e => Number(e.value))
                    .reduce(function (a, b) { return a + b });

                if (
                    (!(sum > 0)) ||
                    !document.querySelectorAll('#totalQuantity').length || 
                    !document.querySelectorAll('#totalQuantity-input').length
                ){
                    window.alert('An error may have occurred updating total quantity. Please use Google Chrome, log in and out again, or refresh your session. If issues continue, please email george.deeks@tsl.ac.uk for further assistance.')
                }

                document.querySelectorAll('#totalQuantity')[0].innerHTML = sum;
                document.querySelectorAll('#totalQuantity-input')[0].value = sum;

                if (document.querySelectorAll('#totalCost').length) {
                    const totalCost = sum * pricePerUnit;
                    document.querySelectorAll('#totalCost')[0].innerHTML = totalCost;
                    document.querySelectorAll('#totalCost-input')[0].value = totalCost;
                }
            }
        }

        document.getElementsByName("removeItem").forEach(element => {
            element.addEventListener('click', updateTotals)
        })

        function initCartSocket() {
            var cart = $('.nav-cart');

            // on cart page
            $('input[type="number"][data-quantity="true"]').on('change keyup paste', function (e) {
                let val = $(this).val() <= 25 ? $(this).val() : 25
                socket.emit('changeQuantity', {
                    id: $(this).data('id'),
                    quantity: val
                });
            });
            socket.on('quantityUpdated', function (data) {
                $('input[type="number"][data-quantity="true"][data-id="' + data.id + '"]').val(data.quantity)
            });

            $('a.remove-from-cart').on('click', function (e) {
                e.preventDefault();
                socket.emit('removeFromCart', {
                    id: $(this).data('id')
                })
            });

            socket.on('removedFromCart', function (data) {

                $('tr[data-id="' + data.id + '"]')
                    .fadeOut(500, function () {
                        $(this).remove();
                        var count = cart.find('.count');

                        var newCount = parseInt(count.text()) - 1;

                        count.text(newCount);

                        if (newCount < 1) {
                            location.reload();
                        } else {
                            updateTotals();
                        }
                    });
            });
        }
        initCartSocket();
    }
</script>

<div class="container">
    <h1 class="center">Shopping Basket</h1>
    <% if(typeof cart != 'undefined'){ %>
        <% if(cart.items.length > 0){ %>

            <!-- <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
                <div class="tile pad inverted">
                    <h4>Admin</h4>
                        <div class="form-group">
                            <input class="muted-text" id="enableTSLView" type="checkbox">
                            <span class="muted-text">Enable non-admin view</span>
                        </div>
                        <div class="form-group">
                            <input class="muted-text" id="enableTSLView" type="checkbox">
                            <span class="muted-text">Enable non-TSL view</span>
                        </div>
                </div>
            <% } %> -->

            <div class="form-group">
                <i>
                    Order your items. A standard order item is 5μL.
                    <!-- Order 5-25μL per item. -->
                </i>
            </div>
            <% if(displayPricing){ %>
                <div class="form-group"><i>For non-TSL staff, pricing is currently set at £5 <!--for 5ul,-->per item. Bespoke orders available through email request.</i></div>
            <% } %>

            <form method="post" action="/cart/order">
                <input type="hidden" name="pricePerUnit" value="<%=pricePerUnit%>" />
                <table class="cart">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="center">Quantity</th>
                            <% if (displayPricing){ %>
                                <th class="center">Price</th>
                            <% } %>
                            <th class="center">Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        <% cart.items.map(function(item, index){ %>
                        <input type="hidden" value="<%- item.id %>">
                        <tr data-id="<%- item.id %>">
                            <td data-th="Item"><a href="/premade/item/<%- item.type.id %>"><%- item.type.name %></a></td>
                            <td data-th="Quantity" class="center">
                                <div>1</div>
                                <% if (displayPricing) { %>
                                    <input hidden type="number" value="<%- 1 %>" data-quantity="true"
                                        data-id="<%- item.id %>" name="itemQuantity"
                                        id="<%= 'quantity_' + index %>">                            
                                    <% } else { %>
                                        <input hidden type="number" placeholder="1" value="<%- /**item.quantity || 5*/ 1 %>" data-quantity="true"
                                            data-id="<%- item.id %>" min="1" max="1" name="itemQuantity"
                                            id="<%= 'quantity_' + index %>">
                                    <% } %>
                                <!-- <span>μL</span> -->
                            </td>
                            <% if (displayPricing){ %>
                                <td data-th="Price" class="center">
                                    <span>£</span>
                                    <span id="<%= 'price_' + index %>"><%= item.quantity * pricePerUnit %></span>
            
                                </td>
                            <% } %>
                            
                            <td data-th="Actions" class="center"><a href="#" name="removeItem"
                                    class="button danger outline icon remove-from-cart areyousure" data-id="<%- item.id %>"><span
                                        data-icon="&#xe019;"></span></a>
                            </td>
                        </tr>
                        <% }); %>
                        <% if(cart){ %>
                        <tr>
                            <td><b>TOTAL</b></td>
                            <td class="center">
                                <b>
                                    <input type="hidden" id="totalQuantity-input" name="totalQuantity" />
                                    <span class="center" id="totalQuantity"></span>
                                    <!-- μL -->
                                </b>
                            </td>
                            <% if (displayPricing){ %>
                                <td class="center">
                                    <b>
                                        £
                                        <input type="hidden" id="totalCost-input" name="totalCost" />
                                        <span class="center" id="totalCost"></span>
                                    </b>
                                </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <% if (displayPricing){ %>
                <div class="row form-group">
                    <div class="col6">
                        <span>Cost centre for charging:</span>
                        <input required id="costCode" name="costCode" type="text" minLength="11" maxLength="11" 
                            data-inputmask="'mask': '*****-***-*'" class="uppercase"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <input class="muted-text" required id="cost-consent" type="checkbox" data-quantity="true">
                    <span class="muted-text">By ticking this box I am confirming that I have authority to spend on the above cost centre</span>
                </div>
                <% } %>

                <div>
                <p><i>
                    TSL SynBio material supplied to TSL and JIC scientists is subject to a Material Transfer Agreement and must not be distributed or shared with any parties beyond TSL and JIC. Any third parties who request use of such material should be directed to TSL SynBio (please email </i><a href="mailto:Mark.Youles@tsl.ac.uk">Mark.Youles@tsl.ac.uk</a><i>).
                </i></p>
                <p><i>
                    Material supplied by TSL SynBio is for non-commercial research purposes only. If you wish to use supplied material for commercial purposes, please contact </i><a href="mailto:Mark.Youles@tsl.ac.uk">Mark.Youles@tsl.ac.uk</a><i> in order that an appropriate MTA can be drawn up.
                </i></p>
                <div class="form-group">
                    <input class="muted-text" required id="non-commerical-consent" type="checkbox" data-quantity="true">
                    <span class="muted-text">
                        I have read the above and confirm that the materials on this order will be used for non-commercial research purposes only and will not be distributed to third parties.
                    </span>
                </div>
                

                <div class="row">
                    <div class="col12">
                        <div class="pull-right">
                            <!--<input type="submit" class="button primary" value="Update Cart">-->
                            <button class="button success areyousure" id="placeOrderButton">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
        <% } else { %>
            <h3 class="center">Your Shopping Basket is empty.</h3>
        <% } %>
    <% } else { %>
        <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>

</div>

<% include ../foot.ejs %>