<% include ../head.ejs %>

<div class="container">
    <h1 class="center">Shopping Basket</h1>
    <% if(typeof cart != 'undefined'){ %>
    <% if(cart.items.length > 0){ %>

    <form method="post" action="/cart/order">
        <table class="cart">
            <thead>
            <tr>
                <th>Item</th>
                <th class="center">Quantity</th>
                <th class="center">Actions</th>
            </tr>

            </thead>
            <tbody>
            <% cart.items.map(function(item){ %>
            <input type="hidden" value="<%- item.id %>">
            <tr data-id="<%- item.id %>">
                <td data-th="Item"><a href="/premade/item/<%- item.type.id %>"><%- item.type.name %></a></td>
                <td data-th="Quantity" class="center">
                    <input type="number" placeholder="5" value="<%- item.quantity || 5 %>" data-quantity="true"
                           data-id="<%- item.id %>" min="5" max="25">
                    <span>μL</span>

                </td>
                <td data-th="Actions" class="center"><a href="#"
                                                        class="button danger outline icon remove-from-cart areyousure"
                                                        data-id="<%- item.id %>"><span
                                data-icon="&#xe019;"></span></a>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>

        <div class="row">
            <div class="col12">
                <div class="pull-right">
                    <!--<input type="submit" class="button primary" value="Update Cart">-->
                    <button class="button success areyousure" id="placeOrderButton">Place Order</button>
                </div>
            </div>
        </div>
    </form>
    <% } else { %>
    <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>
    <% } else { %>
    <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>

</div>

<% include ../foot.ejs %>