<% include ../head.ejs %>

<% 
    const signatoryExistsText = "Signatory email account exists."; // Use 'const' instead of 'var'
    const displayPricing = forceShowPricing || 
        (locals.isPricingAvailable && locals.signedInUser.company !== 'TSL');
%>

<script>
    var signatoryExistsText = "<%- signatoryExistsText %>";
    var displayPricing = "<%= displayPricing %>"; 
    var budgetHolders = <%- JSON.stringify(budgetHolders) %>;
    var areBudgetHolders = budgetHolders.length > 0;
    var isAdmin = <%= JSON.stringify(locals.signedInUser.isAdmin || false) %>;
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    const pricePerUnit = "<%=pricePerUnit%>";

    window.onload = function () {

        const allItemQuantityElements = document.getElementsByName("itemQuantity");

        allItemQuantityElements.forEach((element, index) => {
            const quantityEl = document.getElementById("quantity_" + index);

            const priceEl = document.getElementById("price_" + index);

            if (priceEl){

                priceEl.innerHTML = quantityEl.value * pricePerUnit;
            }

            const onAnyChange = e => {
                const priceElement = document.getElementById("price_" + index);

                if (priceElement) {
                    priceElement.innerHTML = e.target.value * pricePerUnit;
                }

                updateTotals();
            }

            quantityEl.addEventListener('keyup', onAnyChange);
            quantityEl.addEventListener('change', onAnyChange);
            quantityEl.addEventListener('blur', onAnyChange);
        });

        /*  Update totals must run
            setTimeout to help it
            consider setInterval in the future
            Yes, hacky.
        */

        updateTotals();

        setTimeout(function(){
            updateTotals();
        }, 3000);

        function updateTotals() {
            if (allItemQuantityElements.length) {
                const sum = [...allItemQuantityElements]
                    .map(e => Number(e.value))
                    .reduce(function (a, b) { return a + b });

                if (
                    (!(sum > 0)) ||
                    !document.querySelectorAll('#totalQuantity').length || 
                    !document.querySelectorAll('#totalQuantity-input').length
                ){
                    window.alert('An error may have occurred updating total quantity. Please use Google Chrome, log in and out again, or refresh your session. If issues continue, please email george.deeks@tsl.ac.uk for further assistance.')
                }

                document.querySelectorAll('#totalQuantity')[0].innerHTML = sum;
                document.querySelectorAll('#totalQuantity-input')[0].value = sum;

                if (document.querySelectorAll('#totalCost').length) {
                    const totalCost = sum * pricePerUnit;
                    document.querySelectorAll('#totalCost')[0].innerHTML = totalCost;
                    document.querySelectorAll('#totalCost-input')[0].value = totalCost;
                }
            }
        }

        document.getElementsByName("removeItem").forEach(element => {
            element.addEventListener('click', updateTotals)
        })

        function initCartSocket() {
            var cart = $('.nav-cart');

            // on cart page
            $('input[type="number"][data-quantity="true"]').on('change keyup paste', function (e) {
                let val = $(this).val() <= 25 ? $(this).val() : 25
                socket.emit('changeQuantity', {
                    id: $(this).data('id'),
                    quantity: val
                });
            });
            socket.on('quantityUpdated', function (data) {
                $('input[type="number"][data-quantity="true"][data-id="' + data.id + '"]').val(data.quantity)
            });

            $('a.remove-from-cart').on('click', function (e) {
                e.preventDefault();
                socket.emit('removeFromCart', {
                    id: $(this).data('id')
                })
            });

            socket.on('removedFromCart', function (data) {

                $('tr[data-id="' + data.id + '"]')
                    .fadeOut(500, function () {
                        $(this).remove();
                        var count = cart.find('.count');

                        var newCount = parseInt(count.text()) - 1;

                        count.text(newCount);

                        if (newCount < 1) {
                            location.reload();
                        } else {
                            updateTotals();
                        }
                    });
            });
        }
        initCartSocket();
    }
</script>

<script>
    function validateForm() {
        const signatory = document.getElementById('signatory');
        if (signatory.value === "") {
            alert('Selection required: Please select a budget holder.');
            return false;
        }
        return true;
    }
</script>


<div class="container">
    <h1 class="center">Shopping Basket</h1>
    <% if(typeof cart != 'undefined'){ %>
        <% if(cart.items.length > 0){ %>

            <div class="form-group">
                <i>
                    Order your items. A standard order item is 5μL.
                </i>
            </div>
            <% if(displayPricing){ %>
                <div class="form-group"><i>For non-TSL staff, pricing is currently set at £5 <!--for 5ul,-->per item. Bespoke orders available through email request.</i></div>
            <% } %>

            <!-- TODO: add this feature back in (does not update totalCost reliably for now) -->
            <!-- <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
                <div style="border: 1px solid #ccc; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); padding: 20px; margin: 20px;">
                    <div style="margin-bottom: 10px;">
                        <button id="togglePricing">
                            Admin Only: Click to <%= adminButtonText %>
                        </button>
                    </div>  
                    <div style="padding-top: 10px;"><i>Seeing pricing under admin view is for viewing purposes only and will not affect the cart order when submitted.</i></div>
                </div>
            <% } %> -->

            <form onsubmit="return validateForm()" method="post" action="/cart/order">
                <input type="hidden" name="pricePerUnit" value="<%=pricePerUnit%>" />
                <table class="cart">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="center">Quantity</th>
                            <% if (displayPricing){ %>
                                <th class="center">Price</th>
                            <% } %>
                            <th class="center">Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        <% cart.items.map(function(item, index){ %>
                        <input type="hidden" value="<%- item.id %>">
                        <tr data-id="<%- item.id %>">
                            <td data-th="Item"><a href="/premade/item/<%- item.type.id %>"><%- item.type.name %></a></td>
                            <td data-th="Quantity" class="center">
                                <div>1</div>
                                <% if (displayPricing) { %>
                                    <input hidden type="number" value="<%- 1 %>" data-quantity="true"
                                        data-id="<%- item.id %>" name="itemQuantity"
                                        id="<%= 'quantity_' + index %>">                            
                                    <% } else { %>
                                        <input hidden type="number" placeholder="1" value="<%- /**item.quantity || 5*/ 1 %>" data-quantity="true"
                                            data-id="<%- item.id %>" min="1" max="1" name="itemQuantity"
                                            id="<%= 'quantity_' + index %>">
                                    <% } %>
                                <!-- <span>μL</span> -->
                            </td>
                            <% if (displayPricing){ %>
                                <td data-th="Price" class="center">
                                    <span>£</span>
                                    <span id="<%= 'price_' + index %>"><%= item.quantity * pricePerUnit %></span>
            
                                </td>
                            <% } %>
                            
                            <td data-th="Actions" class="center"><a href="#" name="removeItem"
                                    class="button danger outline icon remove-from-cart areyousure" data-id="<%- item.id %>"><span
                                        data-icon="&#xe019;"></span></a>
                            </td>
                        </tr>
                        <% }); %>
                        <% if(cart){ %>
                        <tr>
                            <td><b>TOTAL</b></td>
                            <td class="center">
                                <b>
                                    <input type="hidden" id="totalQuantity-input" name="totalQuantity" />
                                    <span class="center" id="totalQuantity"></span>
                                    <!-- μL -->
                                </b>
                            </td>
                            <% if (displayPricing){ %>
                                <td class="center">
                                    <b>
                                        £
                                        <input type="hidden" id="totalCost-input" name="totalCost" />
                                        <span class="center" id="totalCost"></span>
                                    </b>
                                </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <% if (displayPricing){ %>
                <div class="row form-group">
                    <div class="col3">
                        <span>Cost centre for charging:</span>
                        <input required id="costCode" name="costCode" type="text" minLength="11" maxLength="11" 
                            data-inputmask="'mask': '*****-***-*'" class="uppercase"
                        >
                    </div>
                    <% if(budgetHolders && budgetHolders.length) { %>
                        <span>Select Budget Holder:</span>
                        <select id="signatory" name="signatory" required>
                            <option value="" disabled selected>Select budget holder</option>
                            <% budgetHolders.forEach(function(budgetHolder) { %>
                                <option value="<%= budgetHolder.username %>"><%= budgetHolder.name %></option>
                            <% }) %>
                        </select>
                    <% } else { %>
                        <div class="col4">
                            <span>Budget Holder username/email:</span>
                            <input required id="signatory" name="signatory" type="text" minLength="3" maxLength="20">@nbi.ac.uk
                            <span class="small"><i>Please provide a username for the cost centre's budget holder so that an email can be sent to them regarding this order.</i></span>
                        </div>
                    <% } %>
                    <div class="col4">
                        <div id="ldapCheckResult"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="muted-text" required id="cost-consent" type="checkbox" data-quantity="true">
                    <span class="muted-text">By ticking this box I am confirming that I have authority to spend on the above cost centre. I accept that my 'New Order' email generated from this submission will also be sent to the selected budget holder.</span>
                </div>
                <% } %>

                <div>
                <p><i>
                    TSL SynBio material supplied to TSL and JIC scientists is subject to a Material Transfer Agreement and must not be distributed or shared with any parties beyond TSL and JIC. Any third parties who request use of such material should be directed to TSL SynBio (please email </i><a href="mailto:Mark.Youles@tsl.ac.uk">Mark.Youles@tsl.ac.uk</a><i>).
                </i></p>
                <p><i>
                    Material supplied by TSL SynBio is for non-commercial research purposes only. If you wish to use supplied material for commercial purposes, please contact </i><a href="mailto:Mark.Youles@tsl.ac.uk">Mark.Youles@tsl.ac.uk</a><i> in order that an appropriate MTA can be drawn up.
                </i></p>
                <div class="form-group">
                    <input class="muted-text" required id="non-commerical-consent" type="checkbox" data-quantity="true">
                    <span class="muted-text">
                        I have read the above and confirm that the materials on this order will be used for non-commercial research purposes only and will not be distributed to third parties.
                    </span>
                </div>
                

                <div class="row">
                    <div class="col12">
                        <div class="pull-right">
                            <button class="button success areyousure" id="placeOrderButton">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
        <% } else { %>
            <h3 class="center">Your Shopping Basket is empty.</h3>
        <% } %>
    <% } else { %>
        <h3 class="center">Your Shopping Basket is empty.</h3>
    <% } %>

</div>

<script>
if (!budgetHolders.length && displayPricing) {
    document.getElementById('signatory').addEventListener('blur', function() {
    const signatoryToCheck = this.value;
    if (signatoryToCheck !== ''){
        fetch('/check-ldap-user', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: signatoryToCheck })
        })
        .then(response => response.json())
        .then(data => {
            if (data.exists) {
            document.getElementById('ldapCheckResult').innerText = signatoryExistsText;
            document.getElementById('ldapCheckResult').style.color = 'green'; 
            document.getElementById('placeOrderButton').disabled = false;
            } else {
            document.getElementById('ldapCheckResult').innerText = 'Signatory email account does not exist.';
            document.getElementById('ldapCheckResult').style.color = 'red'; 
            document.getElementById('placeOrderButton').disabled = true;
            }
        })
        .catch((error) => {
            console.error(error)
            document.getElementById('ldapCheckResult').innerText = 'Error checking signatory username. Check your connection to the network.';
            document.getElementById('ldapCheckResult').style.color = 'red'; 
            document.getElementById('placeOrderButton').disabled = true;
        });
    }});
}
</script>

<% include ../foot.ejs %>