<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New Order</title>
</head>

<body>

<img class="center" src="<%- baseURL %>/img/logo.png" style="max-width: 80px; margin-bottom:20px;">

<h1 class="center">New SynBio Order</h1>
<p class="center"><%- locals.order.janCode %> placed by <a
            href="mailto:<%- locals.user.mail %>"><%- locals.user.name %></a></p>

<h2 class="center">Order Details</h2>
<table class="cart">
    <thead>
    <tr>
        <th>Item</th>
        <th class="center">Quantity</th>
        <% if (locals.order.totalCost) { %>
            <th class="center">Price</th>
        <% } %>
        <th class="center">Concentration</th>
        <th class="center">SynBio ID</th>
    </tr>

    </thead>
    <tbody>
    <% locals.order.items.map(function(item){ %>
        <tr>
            <td><%- item.type.name %></td>
            <td class="center"><%- item.quantity %> μL</td>
            <% if (locals.order.totalCost) { %>
                <td class="center">£<%- item.quantity * locals.order.pricePerUnit %></td>
            <% } %>
            <td class="center"><%- item.type.concentration %></td>
            <td class="center"><%- item.type.synBioID %></td>
        </tr>
    <% }); %>
    <tr>
        <td><b>Total</b></td>
        <td class="center"><b><%- locals.order.totalQuantity %> μL</b></td>
        <% if (locals.order.totalCost) { %>
            <td class="center"><b>£<%- locals.order.totalCost %></b></td>
        <% } %>
    </tr>
    </tbody>
</table>
<% if (locals.order.costCode) { %>
    <div>
        Cost code: <%= locals.order.costCode %>
    </div>
<% } %>

<a href="<%- baseURL %>/order/<%- locals.order.id %>" class="center">View order on site</a>
</body>
</html>