<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SynBio Order Ready</title>
</head>

<body>

<img class="center" src="<%- baseURL %>/img/logo.png" style="max-width: 80px; margin-bottom:20px;">

<h1 class="center">SynBio Order Ready</h1>
<p class="center">Your order <%- locals.order.janCode %> is ready to collect from SynBio.</p>
<p class="center">Plasmids should be collected from the Synbio collection box, located immediately to the left of the TSL agar plates in the TSL first floor cold room (Room #131).</p>
<p class="center">All orders will be contained in small, clear plastic bags and will be clearly labelled with their respective Synbio order number (as shown on this email above).  Orders will be strictly arranged with the most recent order at the front.  Please do NOT alter this order when searching/collecting your own order(s).</p>
<p class="center">When collecting your plasmids please check the contents of each bag carefully against your own records and if you encounter any problems please see Mark or Liam (Office: TSL Ground Floor, room G70a or Synbio lab bench: TSL floor 1, room 140).</p>

<h2 class="center">Order Details</h2>
<table class="cart">
    <thead>
    <tr>
        <th>Item</th>
        <th class="center">Quantity</th>
        <% if (locals.order.totalCost) { %>
            <th class="center">Price</th>
        <% } %>
        <th class="center">Concentration</th>
        <th class="center">SynBio ID</th>
    </tr>

    </thead>
    <tbody>
    <% locals.order.items.map(function(item){ %>
        <tr>
            <td><%- item.type.name %></td>
            <td class="center"><%- item.quantity %></td>
            <% if (locals.order.totalCost) { %>
                <td class="center">£<%- item.quantity * locals.order.pricePerUnit %></td>
            <% } %>
            <td class="center"><%- item.type.concentration %></td>
            <td class="center"><%- item.type.synBioID %></td>
        </tr>
    <% }); %>
    <tr>
        <td><b>Total</b></td>
        <td class="center"><b><%- locals.order.totalQuantity %></b></td>
        <% if (locals.order.totalCost) { %>
            <td class="center"><b>£<%- locals.order.totalCost %></b></td>
        <% } %>
    </tr>
    </tbody>
</table>
<% if (locals.order.costCode) { %>
    <div>
        Cost code: <%= locals.order.costCode %>
    </div>
<% } %>

</body>
</html>
