<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SynBio Order Ready</title>
</head>

<body>

<img class="center" src="<%- baseURL %>/img/logo.png" style="max-width: 80px; margin-bottom:20px;">

<h1 class="center">SynBio Order Ready</h1>
<p class="center">Your order no.<%- locals.order.janCode %> is ready to collect from SynBio.</p>
<p class="center">Plasmids can be collected from Mark Youles in the SynBio office (room 210, 2nd floor) or the SynBio
    lab bench (room 140, 1st floor).</p>
<p class="center">When collecting your plasmids/modules please always ensure that you bring all of your order details
    (i.e. module numbers etc) with you in order to make it easier and faster for Synbio to find and dispense your
    materials.</p>

<h2 class="center">Order Details</h2>
<table class="cart">
    <thead>
    <tr>
        <th>Item</th>
        <th class="center">Quantity</th>
        <th class="center">Concentration</th>
        <th class="center">SynBio ID</th>
    </tr>

    </thead>
    <tbody>
    <% locals.order.items.map(function(item){ %>
        <tr>
            <td><%- item.type.name %></td>
            <td class="center"><%- item.quantity %> μL</td>
            <td class="center"><%- item.type.concentration %></td>
            <td class="center"><%- item.type.synBioID %></td>
        </tr>
    <% }); %>
    </tbody>
</table>


</body>
</html>
