<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<!---->
<div class="sidebar-push">
    <div class="container">

        <h2>Pre Made</h2>

        <% dbs.map(function(db){ %>

        <h3><a href="/premade/<%- db.id %>"><%- db.name %></a></h3>

        <ul>
            <% db.categories.map(function(category){ %>
            <li><a href="/premade/<%- db.id %>/<%- category.id %>"><%- category.name %></a></li>
            <% }); %>
        </ul>
        <% }); %>

    </div>
</div>


<% include ../foot.ejs %>