<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container" id="form-container">

        <h2>New Item for <%- category.name %></h2>

        <form id="my-form" method="post" action="/premade/category/<%- category.id %>/new" enctype='multipart/form-data'>

            <input type="hidden" name="dbID" value="<%- db.id %>">

            <% if (typeof type == 'undefined') {
                var type = {};
            } else { %>
            <input type="hidden" name="id" id="id" value="<%- type.id %>">
            <% } %>

            <!-- <div class="form-group">
                <label for="name">Name</label> -->
                <!--change back to text-->
                <input type="hidden" id="name" name="name" value="<%- type.name || 'bob' %> " required>
            <!-- </div> -->

            <!-- <div class="form-group">
                <label for="description">Description</label> -->
                                <!--change back to text-->

                <input type="hidden" name="description" id="description" value="<%- type.description || 'bob' %>">
            <!-- </div> -->

            <!-- <div class="form-group">
                <label for="comments">Comments</label> -->
                                <!--change back to text-->

                <input type="hidden" name="comments" id="comments" value="<%- type.comments || 'bob' %>">
            <!-- </div> -->

            <% type.fields.map(function(field){ %>
            <div class="form-group">
                <label for="<%- field.name %>"><%- field.text %></label>
                <!-- <input type="<%- field.type %>" id="<%- field.name %>" name="<%- field.name %>"
                    value="<%- type[field.name] %>" required> -->
                    <input type="hidden" id="<%- field.name %>" name="<%- field.name %>"
                    value="<%- type[field.name] || 'bob' %>" required>
            </div>
            <% }); %>

            <div class="form-group">
                <label for="concentration">Concentration</label>
                                <!--change back to text-->

                <input type="hidden" name="concentration" id="concentration" value="<%- type.concentration || 1 %>">
            </div>
            <div class="form-group">
                <label for="synBioID">SynBio ID (Mark's Labeling)</label>
                                <!--change back to text-->

                <input type="hidden" name="synBioID" id="synBioID" value="<%- type.synBioID || 34 %>">
            </div>

            <div class="form-group">
                <label for="note">Admin note</label>
                <!--change back to text-->
                <input type="hidden" name="note" id="note" value="<%- type.note || 'bob' %>">
            </div>

            <div class="form-group">
                <label for="file">File</label>
                <% if(type.file){ %>
                <span>Currently: <a href="<%- type.file.downloadPath() %>"><%- type.file.originalName %></a></span>
                <br>
                <% } %>
                <input type="file" id="file" name="file">
            </div>

            <div class="form-group">
                <label for="turtles">Turtles</label>
                <input type="hidden" name="turtles">
                <div id="turtles" class="DashboardContainer"></div>
            </div>


            <!-- <div class="form-group">
                <div class="UppyForm">
                    <input type="file" name="files[]" multiple="">
                </div>
                
                <div class="UppyProgressBar"></div>
                
                <!-- Uploaded files list -->
            <!-- <div class="uploaded-files">
                  <h5>Uploaded files:</h5>
                  <ol></ol>
                </div> -->
            <!-- </div> -->

            <div class="form-group">
                <label for="tinymce">Documentation</label>
                <% if(typeof type != 'undefined'){ %>
                <textarea id="tinymce" class="wide" name="documentation"><%- type.documentation %></textarea>
                <% } else { %>
                <textarea id="tinymce" class="wide" name="documentation"></textarea>
                <% } %>
            </div>

            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>

    </div>
</div>

<!--don't need to put /public-->
<script src="/js/uppy.js"></script>
<!--<script>runThisShit("<%-category.id%>")</script>-->

<script>

    var hackyEJSInput = "<%-category.id%>";

    startThisShit(hackyEJSInput)

</script>

<% include ../../foot.ejs %>