<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container" id="form-container">

        <h2>Edit Item for <%- category.name %></h2>

        <form id="my-form" method="post" action="/premade/category/<%- category.id %>/new"
            enctype='multipart/form-data'>

            <input type="hidden" name="dbID" value="<%- db.id %>">

            <% if (typeof type == 'undefined') {
                var type = {};
            } else { %>
            <input type="hidden" name="id" id="id" value="<%- type.id %>">
            <% } %>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%- type.name %>" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value="<%- type.description %>">
            </div>

            <div class="form-group">
                <label for="level">Level</label>
                <select name="level" id="level">
                    <option
                        value="-1"
                        <%- type.level === 'Unknown' ? 'selected' : '' %>
                    >
                        Unknown
                    </option>
                    <option
                        value="0"
                        <%- type.level === '0' ? 'selected' : '' %>
                    >
                        Level 0
                    </option>
                    <option
                        value="1"
                        <%- type.level === '1' ? 'selected' : '' %>
                    >
                        Level 1
                    </option>
                    <option
                        value="2"
                        <%- type.level === '2' ? 'selected' : '' %>
                    >
                        Level 2
                    </option>
                </select>                
            </div>

            <br />

            <% if (type.citations && type.citations.length) { %>
                <label>Academic citations</label>
                <div id='displaycitations'>
                    <div>
                        <table border=0>    
                            <% type.citations.map(function (citationObj, index) { %>
                                <tr>
                                    <td> Citation URL: </td>
                                    <td> <div><%= citationObj.url %></div></td>
                                </tr>
                                <tr>
                                    <td> Citation Description: </td>
                                    <td> <div><%= citationObj.description %></div></td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                    <a href="javascript:show_edit()">Reset all citations</a>
                </div>

                <div id="newlink" style="display:none">
                    <div>
                        <br />
                        <table border=0>            
                            <tr>
                                <td> Citation URL: </td>
                                <td id='linkurlinput'></td>
                            </tr>
                            <tr>
                                <td> Citation Description: </td>
                                <td id='linkdescinput'></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p id="addnew" style='display:none'>
                    <a href="javascript:new_link()">Add New</a>
                </p>
                <!-- Template -->
                <div id="newlinktpl" style="display:none">
                    <div>
                        <table border=0>
                            <tr>
                                <td> Citation URL: </td>
                                <td> <input type="text" name="linkurl[]" value=""> </td>
                            </tr>
                            <tr>
                                <td> Citation Description: </td>
                                <td> <textarea name="linkdesc[]" cols="50" rows="5" ></textarea> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br />              
                
            <% } else {
                
                // NEW ONE (or maybe as a result of being deleted)
                // http://jsfiddle.net/t656N/1/
            
            %>            

                <div id="newlink">
                    <label>Academic citations (note: there are currently none)</label>
                    <div>
                        <br />
                    <table border=0>            
                        <tr>
                            <td> Citation URL: </td>
                            <td> <input type="text" name="linkurl[]" value=""> </td>
                        </tr>
                        <tr>
                            <td> Citation Description: </td>
                            <td>  <textarea name="linkdesc[]" cols="50" rows="5" ></textarea> </td>
                        </tr>
                    </table>
                    </div>
                    </div>
                    <p id="addnew">
                        <a href="javascript:new_link()">Add New </a>
                    </p>
                    <!-- Template -->
                    <div id="newlinktpl" style="display:none">
                        <div>
                            <table border=0>
                                <tr>
                                    <td> Citation URL: </td>
                                    <td> <input type="text" name="linkurl[]" value=""> </td>
                                </tr>
                                <tr>
                                    <td> Citation Description: </td>
                                    <td> <textarea name="linkdesc[]" cols="50" rows="5" ></textarea> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <br />

            <% } %>

            <div class="form-group">
                <label for="comments">Comments</label>
                <input type="text" name="comments" id="comments" value="<%- type.comments %>">
            </div>

            <% type.fields.map(function(field){ %>
                <div class="form-group">
                    <label for="<%- field.name %>"><%- field.text %></label>
                    <input 
                        type="<%- field.type %>" 
                        id="<%- field.name %>" 
                        name="<%- field.name %>"
                        value="<%- type[field.name] %>" 
                        required
                    >
                </div>
            <% }); %>

            <div class="form-group">
                <label for="concentration">Concentration</label>
                <input type="text" name="concentration" id="concentration" value="<%- type.concentration %>">
            </div>
            <div class="form-group">
                <label for="synBioID">SynBio ID (Mark's Labeling)</label>
                <input type="text" name="synBioID" id="synBioID" value="<%- type.synBioID %>">
            </div>

            <div class="form-group">
                <label for="note">Admin note</label>
                <input type="text" name="note" id="note" value="<%- type.note %>">
            </div>

            <div class="form-group">
                <label for="mapFile"><b>MAP file</b></label>
                <% if(type.mapFile){ %>
                    <span>Currently: <a href="<%- type.mapFile.downloadPath() %>"><%- type.mapFile.originalName %></a></span>
                    <br>
                <% } %>
                <input type="file" id="mapFile" name="mapFile">
            </div>

            <div class="form-group">
                <p><i>(<b>N.B.</b> please press save in order to be able to start editing sequence files.)</i></p>
            </div>

            <div class="form-group">
                <label for="tinymce">Documentation</label>
                <% if(typeof type != 'undefined'){ %>
                    <textarea id="tinymce" class="wide" name="documentation"><%- type.documentation %></textarea>
                <% } else { %>
                    <textarea id="tinymce" class="wide" name="documentation"></textarea>
                <% } %>
            </div>

            <div class="form-group">
                <label for="includeonrecentlyadded">Include on recently added list?</label>
                <input 
                    type="checkbox" 
                    name="includeonrecentlyadded" 
                    id="includeonrecentlyadded" 
                    <%- type.includeOnRecentlyAdded ? 'checked' : '' %>
                >
            </div>

            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    var ct = 1;
    function new_link()
    {
        ct++;
        var div1 = document.createElement('div');
        div1.id = ct;
        // link to delete extended form elements
        var delLink = '<div style="text-align:right;margin-right:65px"><a href="javascript:delIt('+ ct +')">Del</a></div>';
        div1.innerHTML = document.getElementById('newlinktpl').innerHTML + delLink;
        document.getElementById('newlink').appendChild(div1);
    }
    // function to delete the newly added set of elements
    function delIt(eleId)
    {
        d = document;
        var ele = d.getElementById(eleId);
        var parentEle = d.getElementById('newlink');
        parentEle.removeChild(ele);
    }
    function show_edit()
    {
        d = document;
        var ele = d.getElementById('displaycitations')
        ele.style.display = ele.style.display === 'none' ? '' : 'none';      
        var ele2 = d.getElementById('newlink');
        ele2.style.display = ele.style.display === 'none' ? '' : 'none';
        var ele3 = d.getElementById('addnew');
        ele3.style.display = ele.style.display === 'none' ? '' : 'none';

        // only gets added to form because clicked reset,
        // otherwise would reset data via backend
        ct++;
        var div1 = document.createElement('div');
        div1.id = ct;
        var parentLinkEl = d.getElementById('linkurlinput');
        var inputUrlEl = '<input type="text" name="linkurl[]" value="Open your borders">';
        div1.innerHTML = inputUrlEl;
        parentLinkEl.appendChild(div1)
        var div2 = document.createElement('div');
        div2.id = ct + 100;
        var parentDescEl = d.getElementById('linkdescinput');
        var inputDescEl = '<textarea name="linkdesc[]" cols="50" rows="5" >Grandmothers</textarea>';
        div2.innerHTML = inputDescEl;
        parentDescEl.appendChild(div2)
    }
    </script>

<% include ../../foot.ejs %>