<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/item/<%- item.id %>/edit" class="button primary">Edit
                    Item</a>
                <% if(item.disabled){ %>
                <a href="/premade/item/<%- item.id %>/enable" class="button success areyousure">Enable
                    Item</a>
                <a href="/premade/item/<%- item.id %>/delete" class="button danger areyousure">Delete
                    Item</a>
                <% } else { %>
                <a href="/premade/item/<%- item.id %>/disable" class="button danger areyousure">Disable
                    Item</a>
                <% } %>
            </div>
        </div>
        <% } %>

        <h2><%- item.name %></h2>

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <hr>
        <p><span class="bold">Concentration:</span> <%- item.concentration %></p>
        <p><span class="bold">SynBioID:</span> <%- item.synBioID %></p>
        <% } %>

        <% headings.map(function(heading, i){ %>
        <p><span class="bold"><%- heading %>:</span> <%- values[i] %></p>
        <% }); %>

        <%
        var addToCartIcon = locals.signedInUser.cart.items
                .filter(function (ci) {
                    return ci.typeID == item.id;
                })
                .length ? "&#x4e;" : "&#x4c;";
        %>

        <fieldset>
            <a href="#" data-addToCart="true" data-typeID="<%- item.id %>" class="button success outline icon"><span
                        data-icon="<%- addToCartIcon %>"></span></a>
        </fieldset>
        <% if(item.file){ %>
        <a href="<%- item.file.downloadPath() %>" class="button primary outline icon"><span
                    data-icon="&#xe004;"></span></a>
        <% } %>

        <% if(item.documentation){ %>

        <hr>

        <div class="document"><%- item.documentation %></div>

        <% } %>

    </div>
</div>
<% include ../../foot.ejs %>