<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
            <div class="tile pad inverted">
                <h4>Admin Actions</h4> <% /* Changed to 'Admin Actions' for consistency */ %>
                <div class="form-group button-group"> <% /* Added button-group class for styling */ %>
                    <a href="/premade/item/<%- item.id %>/edit" class="button primary">Edit Item</a>
                    <button class="btn btn-primary primary" id="uploadSequenceFilesButton" data-micromodal-trigger="modal-1"> <% /* Changed to data-micromodal-trigger */ %>
                        Upload sequence files
                    </button>
                    
                    <% if(item.disabled){ %>
                        <form action="/premade/item/<%- item.id %>/enable" method="POST" style="display:inline;">
                            <button type="submit" class="button success areyousure">Enable Item</button>
                        </form>
                        <form action="/premade/item/<%- item.id %>/delete" method="POST" style="display:inline;">
                            <button type="submit" class="button danger areyousure">Delete Item</button>
                        </form>
                    <% } else { %>
                        <form action="/premade/item/<%- item.id %>/disable" method="POST" style="display:inline;">
                            <button type="submit" class="button danger areyousure">Disable Item</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>

        <h2><%- item.name %></h2>

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
            <hr>
            <p><span class="bold">Concentration:</span> <%- item.concentration || 'N/A' %></p>
            <p><span class="bold">SynBioID:</span> <%- item.synBioID || 'N/A' %></p>
            <p style="color:red;"><span class="bold">Note:</span> <%- item.note || 'N/A' %></p>            
            <hr>
        <% } %>

        <% if (item.citations && item.citations.length) { %>
            <label class='bold'>Relevant publications:</label>
            <div id='displaycitations' style="margin-bottom:20px;">
                <table>    
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% item.citations.forEach(function(citationObj){ %> <% /* Changed map to forEach */ %>
                            <tr>
                                <td> 
                                    <a 
                                        href="<%= citationObj.url %>" 
                                        rel="noopener noreferrer nofollow" 
                                        target="_blank"
                                    >
                                        <%= citationObj.url %>
                                    </a>
                                </td>
                                <td> <div><%= citationObj.description %></div></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% } %>

        <% headings.forEach(function(heading, i){ %> <% /* Changed map to forEach */ %>
            <p><span class="bold"><%- heading %>:</span> <%- values[i] %></p>
        <% }); %>

        <hr>

        <fieldset>
            <% if(!locals.disableCart){ %>
            <!-- "Add to cart" should be a POST request -->
            <form action="/cart/add" method="POST" style="display:inline;"> <% /* Assuming '/cart/add' is your add-to-cart route */ %>
                <input type="hidden" name="typeID" value="<%- item.id %>" />
                <button type="submit" class="button success areyousure">
                    Add to cart
                </button>
            </form>
            <% } %>
        </fieldset>

        <fieldset>
            <% if(item.mapFile){ %>
                <hr>
                <h3>MAP file</h3>
                <span><%- item.mapFile.originalName || 'N/A' %></span>
                <br>
                <a href="<%- item.mapFile.downloadPath() %>" class="button primary outline" download>
                    <span data-icon="&#xe092;"></span> Download MAP File
                </a>
            <% } %>
        </fieldset>

        <% if(item.sequenceFiles && item.sequenceFiles.length){ %>
            <div>
                <hr>
                <h3>Sequence files</h3>
                <div class="row">
                    <% item.sequenceFiles.forEach((sequenceFile) => { %> <% /* Changed map to forEach */ %>
                        <div class="col6">
                            <div class="d-flex justify-content-space-between">                                                                
                                <div class="d-flex align-items-center"><span><%= sequenceFile.originalName %></span></div>
                                <div class="d-flex flex-direction-row pb10px">
                                    <a href="<%- sequenceFile.downloadPath() %>" class="button primary outline" download>
                                        <span data-icon="&#xe092;"></span> Download
                                    </a>
                                    <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
                                        <div class="pl5px">
                                            <form 
                                                method="POST"
                                                action="/premade/item/<%- item.id %>/deleteSequenceFile"        
                                                style="display:inline;"
                                            >
                                                <input type="hidden" name="sequenceFileID" value="<%- sequenceFile.id %>" />
                                                <button 
                                                    type="submit"
                                                    class=" button danger outline icon areyousure" 
                                                >
                                                    <span data-icon="&#xe019;"></span>
                                                </button>
                                            </form>
                                        </div>
                                    <% } %>
                                </div>                         
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>                     
        
        <% if(item.documentation){ %>
            <hr>
            <div class="document"><%- item.documentation %></div>
        <% } %>

    </div>
</div>

<% include ../../foot.ejs %>
<% include ./_sequenceFileUploadModal.ejs %>