<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>

<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
            <div class="tile pad inverted">
                <h4>Admin</h4>
                <div class="form-group">
                    <a href="/premade/item/<%- item.id %>/edit" class="button primary">Edit
                        Item</a>
                    <button class="btn btn-primary" id="uploadSequenceFilesButton" onClick="MicroModal.show('modal-1')">
                        Upload sequence files
                    </button>
                    <% if(item.disabled){ %>
                    <a href="/premade/item/<%- item.id %>/enable" class="button success areyousure">Enable
                        Item</a>
                    <a href="/premade/item/<%- item.id %>/delete" class="button danger areyousure">Delete
                        Item</a>
                    <% } else { %>
                    <a href="/premade/item/<%- item.id %>/disable" class="button danger areyousure">Disable
                        Item</a>
                    <% } %>
                </div>
            </div>
        <% } %>

        <h2><%- item.name %></h2>

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
            <hr>
            <p><span class="bold">Concentration:</span> <%- item.concentration %></p>
            <p><span class="bold">SynBioID:</span> <%- item.synBioID %></p>
            <p style="color:red;"><span class="bold">Note:</span> <%- item.note %></p>
            
            <hr>
        <% } %>

        <!-- temp reclude -->
        <!-- <% headings.map(function(heading, i){ %>
        <p><span class="bold"><%- heading %>:</span> <%- values[i] %></p>
        <% }); %> -->

        <fieldset>
            <% if(!locals.disableCart){ %>
            <a href="#" data-addToCart="true" data-typeID="<%- item.id %>" class="button success">
                Add to cart
            </a>
            <% } %>
        </fieldset>

        <fieldset>
            <% if(item.mapFile){ %>
                <hr>
                <h3>MAP file</h3>
                <a href="<%- item.mapFile.downloadPath() %>" class="button primary">
                    Download
                </a>
            <% } %>
        </fieldset>

        <% if(item.sequenceFiles?.length){ %>
            <div>
                <hr>
                <h3>Sequence files</h3>

                <div class="row">
                    <% item.sequenceFiles.map((sequenceFile, index) => { %>
                        <div class="col6">
                            <div><%= sequenceFile.originalName %></div>
                            <div class="row" id="sequenceFileButtonsWrapper">

                                <div class="col2 center">
                                    <a href="<%- sequenceFile.downloadPath() %>" class="icon_download"></a>
                                </div>

                                <div class="col2">
                                    <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
                                        <!-- TODO add areyousure in, what does remove-from-cart do? -->
                                        <form 
                                            method="POST"
                                            action="/premade/item/<%- item.id %>/deleteSequenceFile"        
                                        >
                                            <input type="hidden" name="sequenceFileID" value="<%- sequenceFile.id %>" />
                                            <button 
                                                type="submit"
                                                class="button danger outline icon remove-from-cart areyousure" 
                                            >
                                            <span data-icon="&#xe019;"></span>
                                            </button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                            <br>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>                     
        
        <% if(item.documentation){ %>
            <hr>
            <div class="document"><%- item.documentation %></div>
        <% } %>

    </div>
</div>

<% include ../../foot.ejs %>
<% include ./_sequenceFileUploadModal.ejs %>